body{
    background-color: rgb(144, 119, 160);
}
a, input{
    display: block;
}
img{
    width: 500px;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

.editar{
    color: yellow;
}
.remover{
    color: red;
}