* {
    border: 0;
    margin: 0;
    outline: 0;
}
body{
    background-color: rgb(235, 183, 100);
}
a, input{
    display: block;
}
img{
    width: 500px;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

.index{
    text-align: center;
}
.caminhao{
    padding-top: 2rem;
    width: 60rem;
}
.links{
    background-color: rgb(194, 126, 0);
    padding-left: 25rem;
    padding-right: 25rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;

}

.link{
    text-decoration: none;
    padding-top: 0.8rem;  
    color: white;
    align-items: center;
}
.titulo{
    font-size: 2rem;
    background-color: orange;
    text-decoration: blue;
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
}

.editar{
    color: yellow;
}
.remover{
    color: red;
}