<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
        <div>
            <h1 class="titulo"><b>MENU FLASK DO CABRAL</b></h1>
        </nav>
        <div class="links">
            <h2><a class="link" href="/">MENU INICIAL</a></h2>
            <h2><a class="link" href="/Transportadora">TRANSPORTADORAS</a></h2>
        </div>
    <main>
        {% block conteudo%}
        {% endblock %}
    </main>
</body>
</html>