{% extends "base.html" %}

{% block conteudo %}

{% set mensagens = get_flashed_messages() %} 
{% if mensagens %}     
<div class="alert alert-danger" role="alert">
   {% for msg in mensagens %}
        {{ msg }}
   {% endfor %}
</div>
{% endif %}
    
   <form action="/usuario/save" method="post">
        <input type="text" name="nome" id="nome" >
        <label for="email">Contato: </label>
        <input type="email" name="email" id="email">
        <label for="regiao">Região de Atuação: </label>
        <input type="text" name="regiao" id="regiao">
        <button type="submit">Salvar</button>
    </form>

{% endblock %}